/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  /* height: 100vh; */
  padding: 18px;
  background-size: cover;
}
@media screen and (max-width: 567px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    height: 100vh;
  }
}
.ipl-logo {
  height: 60px;
}
.ipl-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-title {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 40px;
  margin-left: 13px;
}
.match-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
